<a routerLink="/register">register</a>
<router-outlet></router-outlet>

<h1 style="font-size: 40px ;text-align: center"  >Create your HOUSE</h1>

<!--Create House Form-->

<form #createHouseForm = "ngForm"  (ngSubmit)="createHouse()" style="display: flex; justify-content:center; padding: 10px">
  <input type="number" name="price" ngModel
         #priceInput="ngModel" [(ngModel)]="house.price"
         [ngStyle]="{backgroundColor: priceInput.invalid && priceInput.dirty ? 'red' : 'green'}"
         required placeholder="PriceOfHouse">

  <input type="text" name="street" ngModel
         #streetInput="ngModel" [(ngModel)]="house.street"
         [ngStyle]="{backgroundColor: streetInput.invalid && streetInput.dirty ? 'red' : 'green'}"
         required placeholder="StreetOfHouse">

  <input type="text" name="city"   #cityInput="ngModel" [(ngModel)]="house.city"
         [ngStyle]="{backgroundColor: cityInput.invalid && cityInput.dirty ? 'red' : 'green'}"
         required placeholder="NameOfCity">

  <input type="number" name="area" #areaInput="ngModel" [(ngModel)]="house.area"
         [ngStyle]="{backgroundColor: areaInput.invalid && areaInput.dirty ? 'red' : 'green'}"
         required placeholder="AreaOfHouse">

  <button>Create</button>
</form>
